[buildout]

[versions]
pip =
zc.buildout =
setuptools =

# https://taskman.eionet.europa.eu/issues/122233
plone.dexterity = 2.10.0

PyYAML = 5.1.2
RelStorage = 2.1.1
Unidecode = 1.0.23

naaya.ldapdump = 1.1.0
peppercorn = 0.6
plone.app.imagecropping = 2.2.2
translationstring = 1.3
webcouturier.dropdownmenu = 3.0.2
xlrd = 1.2.0

amqplib = 1.0.2
argparse = 1.4.0
bda.cache = 1.3.0

# Required by:
# eea.usersdb==1.3.44
colander = 1.7.0

collective.checkdocs = 0.2
collective.easyform = 2.1.0
collective.volto.dropdownmenu = 0.1.0

# Required by:
# eea.userseditor==1.1.39
deform = 2.0.8

dnspython = 1.16.0

eea.aliases = 1.5
eea.cache = 9.4
eea.faceted.vocabularies = 7.0
eea.facetednavigation = 14.5
eea.faceted.inheritance = 6.2
eea.graylogger = 2.0
eea.jquery = 11.2
eea.sentry = 1.4

eventlet = 0.25.1
graypy = 2.1.0
greenlet = 0.4.15

# Required by:
# colander==1.7.0
# deform==2.0.8
iso8601 = 0.1.12

lockfile = 0.12.2
monotonic = 1.5
node = 0.9.24
node.ext.ldap = 1.0b11
node.ext.ugm = 0.9.10
odict = 1.7.0
pas.plugins.ldap = 1.7.2

passlib = 1.7.1
perfmetrics = 3.0.0

# Required by:
# eea.usersdb==1.3.44
# eea.userseditor==1.1.39
phonenumbers = 8.11.1

plone.app.jquery = 1.11.2
plone.app.controlpanel = 4.0.1

# Required by:
# eionet.theme==1.0.dev0
plone.app.themingplugins = 1.1
collective.js.fullcalendar = 1.6.6.edw1

plone.restapi = 7.3.2.eea-dev1
plumber = 1.5
psycopg2 = 2.8.4
pyasn1 = 0.4.7
pyasn1-modules = 0.2.7

# Required by:
# eea.ldapadmin==1.5.28
py3dns = 3.2.1

pylibmc = 1.6.1
python-ldap = 3.2.0
python-memcached = 1.59
raven = 6.10.0

# Required by:
# eea.ldapadmin==1.5.28
transliterate = 1.10.2

# Required by:
# eea.ldapadmin==1.5.28
xlwt = 1.3.0

yafowil = 2.3.2
yafowil.plone = 3.0.0
yafowil.widget.array = 1.6
yafowil.widget.dict = 1.7
yafowil.yaml = 1.3
zest.pocompile = 1.4

collective.folderishtypes = 3.0.0

#migrated from plonesaas sources.cfg
Products.MailArchive = 2.1
Products.TinyTablePlus = 1.4
Products.ZLDAPConnection = 1.4
Products.ZLDAPMethods = 1.6
Products.ZSPARQLMethod = 2.3
Products.ZMIntrospection = 1.0
XlsxWriter = 1.2.7
collective.taxonomy = 2.1.0
eea.volto.policy = 1.2
eea.dexterity.sparql = 1.0
eea.dexterity.rdfmarshaller = 0.5
eea.dexterity.themes = 1.1
eea.geolocation = 2.0
eea.progress.workflow = 2.1
eea.progress.editing = 1.2
eea.rabbitmq.plone = 1.2
eea.ldapadmin = 3.2
eea.restapi = 1.5
eea.stringinterp = 1.0
eea.usersdb = 2.6
eea.userseditor = 2.6
eea.zotero = 1.3
eionet.theme = 1.9
eionet-external = 1.4
energy.content = 1.4
forests.content = 1.6
forests.theme = 1.4
sparql-client = 3.8
kitconcept.volto = 1.3.1
wildcard.fixpersistentutilities = 1.2rc1
z3c.formwidget.optgroup = 1.3rc1

# Develop.cfg
SecretStorage = 3.1.2
ipdb = 0.12.3
ipython = 7.12.0
jedi = 0.16.0
jeepney = 0.4.2
keyring = 21.1.0
parso = 0.6.1
pbp.recipe.noserunner = 0.2.6
prompt-toolkit = 3.0.3
ptyprocess = 0.6.0
rpdb = 0.1.6
traitlets = 4.3.3

# Required by:
# ipython==7.12.0
backcall = 0.1.0

# Required by:
# SecretStorage==3.1.2
cryptography = 2.8

# Required by:
# traitlets==4.3.3
ipython-genutils = 0.2.0

# Required by:
# ipython==7.12.0
pexpect = 4.8.0

# Required by:
# ipython==7.12.0
pickleshare = 0.7.5

# Required by:
# prompt-toolkit==3.0.3
wcwidth = 0.1.8

# Required by:
# SuRF==3.0b3
SPARQLWrapper = 1.8.5

# Required by:
# eea.rabbitmq.plone==1.3.dev0
eea.rabbitmq.client = 1.9

# Required by:
# eea.dexterity.rdfmarshaller==0.2-dev0
SuRF = 3.0b3
html5lib = 1.1
pika = 0.13.1
rdflib = 5.0.0
rdflib-jsonld = 0.5.0

# Required by:
# rdflib==5.0.0
isodate = 0.6.0

# used by bise
eea.api.dataconnector = 1.3
moz-sql-parser = 4.21.21059

# used by eprtr
eea.api.layout = 3.0
eea.api.taxonomy = 1.4

# required by eea.restapi
eea.volto.slate = 1.0

Products.PloneHotfix20210518 = 1.4
