# Exclude local development from Docker build context but include in VCS
# https://www.rpatterson.net/blog/docker-gotchas/#build-context-and-image-stowaways
!/*
*~

/var
/bin/*
!/bin/.gitignore
/.venv
/plone/*.cfg
/.*.cfg
/.plone.versioncheck.tracked.json
/parts
/data
/develop-eggs
/src
/_eggmonkey.cache