[buildout]
extends=./develop.cfg

# Use local, relative paths
var-dir=./data

[configuration]
# Use local, relative paths
logging-dir=./data/log
file-storage = ./data/filestorage/Data.fs
async-file-storage = ./data/filestorage/async.fs
blob-storage = ./data/blobstorage
blob-storage-cache = ./data/blobstorage

# Connect to services running in the container from the host
memcache-address = localhost
memcache-port = 51211
relstorage-address = localhost
# TODO: Convert to a template with variable expansion against `./.env`?
# relstorage-port = ${env:PORT_PREFIX}432
relstorage-port = 51432
relstorage-cache-address = localhost
relstorage-cache-port = 51211
